.calculator{
    margin: 50px;
    height: 300px;
    border-radius: 10px;
    background-color: #373733;
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 150px));
    grid-template-rows: auto;
    justify-content: center;
    padding: 20px;
    gap: 2px;
}
